body{
    background-color: rgb(34, 34, 34);
}
p,.btn{
    font-size: 16px;
    font-family: 'Press Start 2P',sans-serif;
    margin: 0;
}
.title{
    font-size: 52px;
    color: white;
    text-align: center;
    margin-top: 5%;
}
.outer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 97vh;
    width: 98vw;
}
.left,.right{
    height: 70vh;
    width: 30vw;
    background-color: azure;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 4px;
    margin-left: 8px;
    transition: opacity 0.3s;
    box-shadow: inset 4px 4px 4px rgba(0,0,0,0.5);
}
.right-inner,.left-inner{
    display: inline-block;
    background-color: rgb(255,201,0);
    padding: 4%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    border: solid;
}
.hidden{
    opacity: 0.3;
}
.p-one,.p-two{
    font-size: 36px;
}
.score-one,.score-two{
    font-size: 100px;
    margin-top: 15%;
    margin-bottom: 15%;
}
.high-score-one,.high-score-two{
    font-size: 48px;
    padding-top: 10%;
}

.btn{
    padding: 15px;
    border-radius: 18px;
    transition: box-shadow 0.15s,margin-left 0.15s,margin-top 0.15s;
    position: absolute;
    font-size: 13px;
    text-align: center;
}
.btn:hover{
    box-shadow: 4px 4px 4px rgba(0,0,0,0.15);
}
.btn:active{
    margin-left: 4px;
    margin-top: 4px;
}
.new-button{
    top: 45%;
    left: 45%;
}
.hold-button{
    top: 90%;
    left: 47%;
}
.roll-button{
    top:80%;
    left: 45%;
}
.image{
    position:absolute;
    top: 60%;
    left: 47%;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    border-radius: 8px;
    transition: transform 0.3s;
    display: none;
}
.image:hover{
    transform: scale(1.2);
}
.instruct-button{
    top:21%;
    left: 44%;
}

.instruct-modal{
    padding-top: 10px;
    background-color: white;
    height: 400px;
    width: 700px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    
    position: absolute;
    top: 35%;
    left: 25%;
    z-index: 100;
    display: none;
}

.instruct-text{
    padding: 60px;
    font-size: 16px;
}

